.foot1{
    position: sticky;
    width: 100%;
    height: 80px;
    bottom: 0;
    background-color: rgb(34, 71, 109);
    text-align: center;
    z-index: 999999;
    
  
  }
  .about{
    color: white;
    font-size: small;
    font-weight: 800;
    margin-left: 20px;
    align-items: center;
  }
  .about>span{
    margin-left: 20px;
  }
  .text2{
    color: white;
    font-size: small;
    font-weight: 800;
  }