.view_movie{
  width: 100%;
  height: 90vh;
  /* background-color:rgba(13, 13, 13, 0.591); */
overflow: hidden;
  background: rgba(0, 0, 0, 0.711);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.851);
  backdrop-filter: blur( 11.5px );
  -webkit-backdrop-filter: blur( 11.5px );
  /* border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  display: flex;
  align-items: center;
  padding: 150px;
}
.poster_toaster{
  width: 25%;
}
.img_poster{
  width: 100%;
  height: 60vh;
  border: 3px solid white;
  border-radius: 5px;
}
.img_poster>img{
  width: 100%;
  height: 100%;
}
.poster_toaster>button{
  width: 100%;
  height: 7.5vh;
  background-color: dodgerblue;
  outline: none;
  border: 1px solid dodgerblue;
  border-radius: 3px;
  margin-top: 10px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}
.text{
  width: 65%;
  padding: 100px;
  color: white;
}
.text>h3{
  margin-top: 20px;
  color: dodgerblue;
}
.text>h3>span{
  color: white;
}
.text>p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.text>.popularity{
  padding: 20px;
  width: 100%;
}
.text>.popularity>.votes{
  display: flex;
  align-items: center;
  font-size: 1.3em;
  padding: 20px;
}
.heart_icon{
  color: red;
  
}
.vote_icon{
  color: dodgerblue;
  
}
.lang_icon{
  color: goldenrod;
  
}
.text>.popularity>.votes>p{
  margin-left: 50px;
}
h5{
  width: 150px;
  color: dodgerblue   ;
}