*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;

}




.homepg{
   background: rgb(20, 19, 19); 
  font-size: 1.2em;
  display: flex;

  
  width: 100%;
  /**/



}
/* @keyframes backhome {
25%{
    background: url("wall1.jpg");
} 
50%{
    background: url("wall2.jpg");
}                                                                           //if you want you can add these key frames 


75%{
    background: url("WallpaperDog-20440052.jpg");
}
100%{
    background: url("aliane-schwartzhaupt-QdmUva6qBTk-unsplash (1).jpg");
}
} */
#hometxt{
  float: left;
  margin-top: 150px;
  margin-left: 50px;
  width: 500px;
  height: 600px;
}
#id{
  font-size: 2em;
  color: #ff0844;
}
#haha1{
  margin-top: 50px;
  font-size: 1.4em;
  color: white;

}
#hbutt{
  width: 200px;
  height:40px;
  opacity: 100%;
  border-style:solid  5px;
  border-color: #ff0844;
  margin-top: 120px;
  margin-bottom: 10px;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: #ff0844;
  

}
i{
  color: white;
  padding: 4px;
  margin-top: 10px;
}

.pup{
  height: 5px;
  background-color: #ff0844;
  
}
.intro{
  font-size: 1.2em;
  color: white;
  display: center;
  height: 500px;
  background:black;
  width: 100%;
  


}
#coco{
 margin-top: 200px;
 margin-left: -20px;
}
#id2{
  color: #ff0844;
  font-size: 2em;
  top: 200px;
  margin-left: 500px;

  
}
#par{
  margin-left: 50px;
  margin-top: 100px;
  width: 500px;
  
  font-size: 1em;

}
#logo{
  width:50px ;
  height: 50px;
}


#join{
  margin-top: -100px;
  margin-left: 300px;
  z-index: 999;
  float: left;
  
  width: 200px;
  height:40px;
  opacity: 100%;
  border-style:solid  2px ;
  border-color: #ff0844;
  display: center;
  
  font-size: 1em;
  background-color:rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: #ff0844;

}

h2 span::before{
  content: ' ';
  position: absolute;
  width: 3em;
  background: #00BFFF;
  height: .4em;
  bottom: 0; 
  z-index: -1;
  margin-left: auto-.3em; 

}
.follow{
   background-color:rgb(8, 8, 8); 
  
  display: flex;
  width: 100%;
 
  height: 600px;
}
#followed{
  float: left;
 font-size: 1.4em;
 color:#ff0844;
}
#kally{
  float: right;
  margin-top: 20px;
  font-size: 1.4em;
  width: 400px;
  height: 300px;
  margin-left: 300px;

}
#follows{
  font-size: 2em;
  color:#ff0844;

}
#par2{
  margin-top: 40px;
    color: white;  
  
  width: 500px;
  height: 150px;
}

  
  

#img{
  margin-left: 60px;
  margin-top: 50px;
  
  
  
  
  
  
}
#sign{
  
  width: 200px;
  height: 50px;
  border: white 3px;
  color:white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.4em;
  margin-top: 100px;
  /* border-top: ;
  border-left: ;
  border-bottom: ;
  border-right: ; */
  border-style: solid;
  padding: 4px 8px 4px 8px;



}
.does{
  float: right;
  display:flex ;
  margin-top: -150px;
}
.does>.b>button{
  margin-top: 20px;
  margin-right: 50px;
  width: 250px;
  font-size: 0.8em;
  height: 50px;
  border-style: solid 3px;
  z-index: 999;
  opacity: 1.3;
  background-color: #312f2f00;
  color: white;
  border-color: #f89104 ;
}
.does>.b>button:hover{
  cursor: pointer;
}
.templates{
  float: right;
  margin-left: 50px;
  display: flex;
  margin-top: 70px;
  margin-right: 100px;
}
.info{
  width: 300px;
  height: 250px;
  border-style: solid;
  border-width: 2px;
  border-color: #ff0844;
  margin-top: 20px;
  border-radius: 15px;
  background-color:rgba(26, 25, 25, 0.856);
}
.info:hover{
  transform: scale(1.1);
  transition: all 0.3s  ease;
  
  background-color: black;
  border-color:rgb(156, 20, 20);
  
  
}
.info:hover>#par4{
  
  bottom: 49%;
  margin-top: -100px;
  color:white;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;

}
.info:hover>#temp{
  opacity: 0.5;
}
.genre{
  display: flex;
  width: 100%;
  overflow-x: hidden;
  

}
.item{
  width: 400px;
  height: 300px;
  border: 2px solid rgb(156, 20, 20) ;
  margin: 60px ;
  padding: 5px;
  
}
.item:hover>.identif{
  opacity: 1;
  transition: 0.5s;
}
.identif{
  width: 100%;
  height: 36%;
  align-items: center;
  background-color: #312f2fc5;
  position: absolute;
  
  
  
  opacity: 0;



}
.identif>h3{
  margin-left: 150px;
  margin-top: 50px;
  
  color: white ;
}
.identif>button{
  background-color:#312f2f13 ;
  background-color:linear-gradient(to top, #ff0844 0%, #ffb199 100% ) ;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin-left: 135px;
  margin-top: 50px;
  color:white;
  border: 3px solid #ff0844;
  cursor: pointer;
}
#photo{
  width: 100%;
  height: 100%;
}

#prev{
  margin-left: 800px;
  width: 600px;
  height: 300px;
  margin-top: -150px;
  padding: 5px;
 
  border: 2px solid #ff0844;
}
.row2{
  margin-top: 60px;
  margin-left: 20px;
}
#par4{
  margin-left: 40px;
  font-size: 1.3em;
  color: #ff0844;
  font-family: sans-serif;
  margin-top: 20px;
  font-weight: bold;
  bottom: 0;
  opacity: 0;

}
#temp{
  width: 100%;
  height: 100%;
  border-radius: 15px;
 


}

#temp:hover>#par4{
  display: inline-block;
  bottom: 49%;
}

.subs{
  background-color: rgb(27, 27, 27);
  color: white;
  font-size: 1.2em;
  display: center;
  align-content: center;
  height: 500px;
  width: 100%;
}
#news{
  
  font-size: 2em;
  color: #ff0844;
  margin-left: 400px;

}#soon{
  margin-top: 30px;
  margin-left: 600px;
  color: white;

}
#subsbutt{
  display: flex;
  margin-top: 100px;
  margin-left: 400px;
  
}
input[type=button]{
  cursor: pointer;
  
}
input[type=button]:hover{
  transition: scale(1.2);
  transition: all 0.3s ease;
}

#kl{
  width: 200px;
  height: 40px;
  background-color: #312f2f;
  color:white;
  border-style: solid ;
  border: #ff0844;
  margin-right: 40px;
  display: center;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;

}
#mit{
  width: 200px;
  height: 40px;
  background-color: rgb(22, 22, 22);
  color: #3607b9;
  border-style: solid 5px;
  border: solid 1px  #3607b9;
  margin-right: 20px;
  
  
  border-radius: 10px;
}
.footer{
  display: flex;
  margin-top: 80px;
  margin-right: 50px;
  color: white;
  margin-left: 400px;
  

}
#about{
  margin-right: 150px;
  flex-wrap: wrap;
}
h3{
  color: #ff0844;
}
.foot{
  background-color: #ff0844;
  margin-top: 50px;
  margin-left: 500px;
}
#fdg{
  color: white;
}
.row{
  display: flex;
  font-size: 1.2em;
  background-color:rgb(32, 32, 32);
  height: 500px;

}
#down{
  width: 300px;
  height: 300px;
  border-radius: 2%;
  border: #3607b9;
  border-style: solid 3px ;
  margin-left: 100px;
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
}
#down:hover{
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.head{
  margin-left: 180px;
  color: #ff0844;
  font-size: 1.2em;
  margin-top:50px ;
  margin-bottom: 20px;
}
#haha{
  font-size: 1em;
  width: 400px;
  margin-left: 50px;
  color: white;
  margin-top: 30px;
}
#tbg{
  background-color: #ff0844;
  align-items: center;
  display: center;

}
#trend{
  margin-left: 600px;
  color: white;
}
.more{
  background-color: #ff0844;
  width: 500px;
  height: 200px;
  margin-left: 500px;

}
.fa-search{
  margin-top: 4px;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.search{
  display: flex;
}

.now{
  margin-top: 0px;
  height: 150px;
  width: 850px;
  background-color: #ff0844;
  margin-left: 50px;
  background:60% 40% url("c:\React\K-LIX\public\join.jpg");
}
.home2{
  background: url("c:\React\K-LIX\public\movie.jpg") rgba(26, 25, 25, 0.801);
  width: 100%;
  height: 400px;

}
.home2>h2{
  color: white;
  margin-top: 300px;
}

.movie1>i{
  margin: 330px;
  font-size: 4em;
  font-weight: 800;
  color: #ff0844;
  margin-left: 800px;
}
.stars>i{
  
  color: gold;
}

.home{
  background: 50% 0% url("c:\React\K-LIX\public\spider.jpg");
  
  
  width: 100%;
  height: 760px;
  display: flex;
 
}
.indenter{
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.315),rgba(0, 0, 0, 0));
  
}
.home>.mvname{
  width: 100%;
  height: 100%;
  padding: 100px auto;
  
  
  
}
.home>.mvname>.indenter{
  width: 100%;
  height: 100px;
  
  
}
.introduction{
  
  width:350px;
  margin-left:30px;
  background-image: linear-gradient(to right, rgba(236, 74, 74, 0.664),rgba(0, 0, 0, 0.315),rgba(0, 0, 0, 0));
  border-left: 8px solid #ab1111;
  border-right: none;
  transition: 0.5s;
  


}
.introduction>p{
  margin-left: 50px;
  font-size: 5em;
  color:#ff0844;
  font-family: cursive;
  opacity: 1;
  border-left-style: 4px solid ;
  border-color: #ab1111;
  
  

}
.introduction:hover{
  background-color: #ff0844;
  transition: 1s;
  cursor: pointer;
  border-left-style:4px solid ;
  border-color: dodgerblue;

}
.introduction:hover>p{
  color: white;
}


.name{
  margin-left: 50px;
  margin-top: 50px;
  color: red;
  font-size: 3em;
  font-family:Arial, Helvetica, sans-serif;
}
.name>p>strong{
  color: white;
}
.name>p>span{
  color: dodgerblue;
  font-size: 1.3em;
  font-family: cursive;
}
.credits{
  margin-left: 50px;
  margin-top: 50px;
}
.credits>p{
  color: white;
  font-weight:500;
  font-size: 1.2em;
}
.credits>p>span>i{
  color:gold;
}
.credits>p>i{
 
  color: white;
  margin-left:20px;
  font-size: 1.4em;
  font-weight: 600;
  
}
#gb{
  margin-left: 10px;
  font-size: 5em;
}
.details>p{
  margin-left: 50px;
  margin-top: 50px;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  width:660px ;
}
.moredet{
  margin-left: 50px;
  margin-top: 50px;
}
.moredet>p{
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  

}
.moredet>p>strong{
  color:red;
  font-weight: 800;
  font-size:large;
}

.home3>.identifires{
  width: 100%;
}
.home3>.identifires>.movies>.navigation>button{
  background-color: rgba(0, 0, 0, 0);
  color: #ff0844;
  border: 2px solid #ff0844;
  width: 10%;
  height: 30px;
  font-size: 0.9em;
  border-radius: 5px;
  padding: 5px;
  margin-left: 30px;
  margin-top: 30px;
}
.home3>.identifires>.movies>.navigation>button:hover{
  color: white;
  border-color: white;
  transition: 0.5s;
}
.home3>.identifires>.movies>.pre_show{
  width: 50%;
}
.home3>.identifires>.movies>.pre_show>p{
  color: dodgerblue;
}
.home3>.identifires>.movies>.pre_show>p:hover{
  color: #ff0844;
  transition: 0.5s;
}
.home3>.identifires>.movies>.pre_show>#show2{
  color: red;
}



.home3>.identifires>.movies{
  width: 100%;

}
.home3>.identifires>.movies>.movies_display
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
} 
.home3>.identifires>.movies>.now{
    width: 100%;
    margin-left: 250px;
    
}

.movie_identifires{
  display: flex;
  width: 100%;
  background-color:#312f2f;
  height: fit-content;
}


.othermv{
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 8px 6px  dodgerblue;
}
 
body::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid rgb(2, 126, 250);
  border-radius: 30px;
}

















