.movie__card{
  width: 100%;
  overflow: auto;
}
.movie__container{
  width: 100%;
  overflow-y: scroll;
}

.home>div>button{
    width: 150px;
    height: 50px;
    margin-left: 100px;
    margin-top: 30px;
    background-color:rgba(255, 0, 0, 0.753);
    color: white;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    
    
    border: 2px solid rgba(255, 0, 0, 0.753);
    
    border-radius: 3px;
  }
  .home>div>button:hover{
    background-color: #00BFFF;
    border-color: #00BFFF;
    transition: 1s;
  }
  
  .main{
    display: flex;
    width: 100%;
  }
  .othermv{
    background-image:linear-gradient(to left, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.795));
    width: 600px;
    align-items: center;
  
  }
  .othermv>.one_mv{
    width: 500px;
    height: 200px;
    margin-top: 40px;
    margin-left: 40px;
    border: 3px solid #ff0844;
    padding: 3px;
    cursor: pointer;
  
  }
  .othermv>.one_mv>.identif{
    width: 16.8%;
    height: 24%;
    margin-top: -160px;
    margin-left: 238px;
   
  
  }
  .othermv>.one_mv>.identif>button{
    margin-top: 10px;
    margin-left: 80px;
  }
  .othermv>.one_mv>.identif>h3{
    margin-top: 20px;
    margin-left: 100px;
  }
  .othermv>.one_mv>p{
    margin-left: 70px;
    margin-top: 5px;
    color: #00BFFF;
  }
  .othermv>.one_mv>img{
    width: 250px;
    float: right;
  }
  .name{
    margin-left: 50px;
    margin-top: 50px;
    color: red;
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
  }
  .name>p>strong{
    color: white;
  }
  .name>p>span{
    color: dodgerblue;
    font-size: 1.3em;
    font-family: cursive;
  }
  .credits{
    margin-left: 50px;
    margin-top: 50px;
  }
  .credits>p{
    color: white;
    font-weight:500;
    font-size: 1.2em;
  }
  .credits>p>span>i{
    color:gold;
  }
  .credits>p>i{
   
    color: white;
    margin-left:20px;
    font-size: 1.4em;
    font-weight: 600;
    
  }
  
.details>p{
  margin-left: 50px;
  margin-top: 50px;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  width:660px ;
}
.moredet{
  margin-left: 50px;
  margin-top: 50px;
}

  #gb{
    margin-left: 10px;
    font-size: 5em;
  }
  .moredet1>p>strong{
    color: red;
    
  }
  .moredet1>p{
    color: white;
    margin: 20px;
  }
  #hm{
    margin-left: 200px;
    color: #00BFFF;
    border-color: #00BFFF;
    background-color: #1818188a;
  }
  #hm:hover{
    /* animation: go 03s infinite ; */
    transition: 0.5s;
    transform: scale(1.1);
  }
  /* @keyframes go {
    100%{
        transform: scale(0.8);
    }
    0%{
        transform: scale(1.1);
    }
    
  } */
  .othermovies{
    width: 100%;
    height: 500px;
    background-color: #181818;
  }
  .othermovies>.suggestions{
    color: white;
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
  
  }
  .identifires{
    height: fit-content;
  }
  .swiper-pagination-bullet{
    background-color: var(--text-color) !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--title-color) !important;
}