@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container{
    background: url("C:\React\k-lix\public\background.jpg");
    font-family: 'Poppins', sans-serif;
}
.landing{
    width: 100%;
    height: 100vh;
    font-size: 4em;
    font-weight: bold;
    display: flex;
    align-items: center ;
    justify-content: center;
    text-align: center;
    background: rgba(26, 26, 26, 0.2);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
    
    color: white;
}
.landing>div>p>span{
    color: red;
    font-family: cursive;
}
.landing>div > img{
    width: 25%;
    height: 25vh;
}
.landing>div >button{
    width: 150px;
    height: 40px;
    color: white;
    background-color: inherit;
    padding: 5px;
    font-size: 0.2em;
    border: 2px solid dodgerblue;
    border-radius: 1em;
    
}
.landing>div >button:hover{
    background-color: dodgerblue;
    transition: all 0.5s ease;
}